# Node
node_modules/
dist/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/

# Docker
*.pid

# MySQL Raw Database Files
*.ibd
*.frm
*.opt
*.MYD
*.MYI

# Keep SQL Database Script
!database/sams.sqlkubernates/mysql-secret.yaml

kubernates/mysql-secret.yaml

github-actions-eks-policy.json
github-actions-trust-policy.json
